.users-container {
    display: none;
}
.chatbox {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 0.3px solid grey;
    margin: 2px 2px;
}
.chat-header {
    height: 10%;
    border-bottom: 0.1px solid grey;
}

.chat-body {
    height: 80%;
    border: 0.3px solid grey;
    overflow: auto;
    
}

.admin-form {
    width: 20%;
    margin: 10% auto;
}

.msg {
    width: 100%;
}

.message {
    background-color: rgba(165, 148, 146, 0.123);
    border-radius: 2px;
    padding: 10px;
}